.testimonials__text {
    font-size: 18px;
    font-weight: 600;
    color: $gray;
}

.testimonials__name {
    font-weight: 600;
    font-size: 18px;
    color: #b2b2b2;
    margin-top: 32px;
    
    span {
        font-weight: 300;
    }
}