// Шрифты
$mainFont: 'Open Sans', sans-serif;
$plainFont: 'Lato', sans-serif;

// Цвета 
$white: #fff;
$black: #000;
$bgColor: #222;
$mainColor: #6C6C6C;
$introColor: #999999;
$customColor: #FCAC45;
$gray: #e7e7e7;